style.
  nav.navbar.navbar-expand-md.navbar-red {
    background-color: rgba(227,65,64,255);
  }
  img.holiday-logo {
    position: absolute;
    left: 57.5%;
    margin-left: -190px !important;  /* 50% of your logo width */
    display: block;
    top: 140px;
  }
  h1.display-7.first.fw-bold {
    font-size: 60px;
  }
  a.nav-link.shop-gifts {
    font-size: 20px;
  }
  .rotate {
  animation: rotation 350s infinite linear;
    }

    @keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
    }
    h1.display-7.second.fw-bold {
        font-size: 60px;
    }
    h1.display-7.third.fw-bold {
        font-size: 60px;
    }
    p.lead.first {
        font-size: 30px;
    }
    .navlink-center { 
        width: 100%; 
        text-align: center; 
    }
    a.nav-link.shop-learnmore-iphone-13 {
        position: absolute;
        left: 53%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        font-size: 20px;
    }
    a.nav-link.shop-buy-iphone-13 {
        position: absolute;
        left: 63%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        
        font-size: 20px;
    }
    a.nav-link.shop-learnmore-iphone-13 {
        position: absolute;
        left: 53%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        font-size: 20px;
    }
    a.nav-link.shop-buy-iphone-13 {
        position: absolute;
        left: 63%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        font-size: 20px;
    }
    a.nav-link.shop-learnmore-airpods {
        position: absolute;
        left: 78%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        font-size: 18px;
        top: 3060px
    }
    a.nav-link.shop-buy-airpods {
        position: absolute;
        left: 85.5%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        font-size: 18px;
        top: 3060px;
    }
    img.iphone-13-pro {
        position: absolute;
        left: 38.5%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 1313px;
    }
    img.iphone-13 {
        position: absolute;
        left: 29.5%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 2044px;
    }
    nav.navbar.navbar-expand-md.navbar-red {
        top: 55px;
    }
    .jumbotron.text-center.text-dark.middle-align-text.bg-transparent {
        padding-bottom: 498px;
    }
    .jumbotron.text-center.text-dark.middle-align-text.bg-iphone-13 {
        background-color: #35283c;
        padding-bottom: 527px;
    }
    .text-pink {
        color: #f9bee6;
    }
    p.lead.first.font-weight-bold.text-pink {
        font-size: 25px;
    }
    img.airpods {
        position: absolute;
        left: 74%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 2535px;
    }
    /* Bottom right text */
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
    }
    h1.display-7.fourth.fw-bold {
        position: absolute;
        left: 80.5%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 2975px;
    }
    p.lead.fourth {
        position: absolute;
        left: 78.5%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 3030px;
    }
    img.macbook {
        position: absolute;
        left: 18%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 2735px;
    }
    h1.display-7.fifth.fw-bold {
        position: absolute;
        left: 28.5%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 2600px;
    }
    p.lead.fifth {
        position: absolute;
        left: 29.5%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 2650px;
    }
    a.nav-link.shop-learnmore-macbook {
        position: absolute;
        left: 29.35%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        font-size: 18px;
        top: 2680px
    }
    a.nav-link.shop-buy-macbook {
        position: absolute;
        left: 36.3%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        font-size: 18px;
        top: 2680px;
    }
    img.homepod {
        position: absolute;
        left: 13.5%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 3300px;
    }
    h1.display-7.sixth.fw-bold {
        position: absolute;
        left: 28.5%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 3174px;
    }
    p.lead.sixth {
        position: absolute;
        left: 29.5%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 2650px;
    }
    a.nav-link.shop-learnmore-homepod {
        position: absolute;
        left: 29.35%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        font-size: 18px;
        top: 3225px
    }
    a.nav-link.shop-buy-homepod {
        position: absolute;
        left: 36.3%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        font-size: 18px;
        top: 3225px;
    }
    img.watch {
        position: absolute;
        left: 67%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 3400px;
    }
    h1.display-7.seventh.fw-bold {
        position: absolute;
        left: 28.5%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 3174px;
    }
    p.lead.seventh {
        position: absolute;
        left: 77%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 3250px;
    }
    a.nav-link.shop-learnmore-watch {
        position: absolute;
        left: 79.45%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        font-size: 18px;
        top: 3275px
    }
    a.nav-link.shop-buy-watch {
        position: absolute;
        left: 86%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        font-size: 18px;
        top: 3275px;
    }
    img.watchlogo {
        position: absolute;
        left: 78.5%;
        margin-left: -190px !important;  /* 50% of your logo width */
        display: block;
        top: 3150px;
    }
doctype 
html(lang="en")
    title Apple
    head
        include ./includes/header.pug
        include ./includes/navbar.pug
        nav.navbar.navbar-expand-md.navbar-red
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbar.collapse.navbar-collapse.justify-content-md-center
                .navbar-nav.text-center
                .text-light Shop early for the best selection of holiday favorites. 
                a.nav-link.text-light(href='/status') Shop now >
        img.holiday-logo(src='https://cdn.discordapp.com/attachments/828495924354482208/916821991548399626/logo__dcojfwkzna2q_small_2x.png')
        .jumbotron.text-center.text-dark.middle-align-text
            h1.display-7.first.fw-bold ‎ 
            h1.display-7.first.fw-bold ‎ 
            h1.display-7.first.fw-bold Let the holidays be for everyone.        
            a.nav-link.shop-gifts(href='/shop/goto/gifts') Shop gifts > 
            img.holiday-ipad-pro.rotate(src='https://cdn.discordapp.com/attachments/828495924354482208/916842866771382282/ipad__bq6djchifrbm_mediumtall_2x.png')
            img.holiday-airpods.rotate(src='https://cdn.discordapp.com/attachments/828495924354482208/916841194108104724/airpods__b0941p5gmwj6_mediumtall_2x.png')
            img.holiday-pencil.rotate(src='https://cdn.discordapp.com/attachments/828495924354482208/916841938240553010/ipadair__fkr21evsr6a2_mediumtall_2x.png')
        .jumbotron.text-center.text-dark.middle-align-text.bg-transparent
            h1.display-7.second.fw-bold iPhone 13 Pro
            p.lead.first Oh. So. Pro.
            nav.nav
                a.nav-link.shop-learnmore-iphone-13(href='/shop/goto/gifts') Learn More > 
                a.nav-link.shop-buy-iphone-13(href='/shop/goto/gifts') Buy > 
                img.iphone-13-pro(src='https://cdn.discordapp.com/attachments/828495924354482208/916858899636817940/unknown.png')
        .jumbotron.text-center.text-dark.middle-align-text.bg-iphone-13
            h1.display-7.third.fw-bold.text-light iPhone 13
            p.lead.first.font-weight-bold.text-pink Your new superpower. 
            nav.nav
                a.nav-link.shop-learnmore-iphone-13(href='/shop/goto/gifts') Learn More > 
                a.nav-link.shop-buy-iphone-13(href='/shop/goto/gifts') Buy > 
                img.iphone-13(src='https://cdn.discordapp.com/attachments/828495924354482208/916861522762924052/unknown.png')
        .container
            h1.display-7.fourth.fw-bold AirPods
            p.lead.fourth All-new with Spatial Audio
            .jumbotron.text-center.text-dark.middle-align-text.bg-transparent
                nav.nav
                    a.nav-link.shop-learnmore-airpods(href='/shop/goto/gifts') Learn More > 
                    a.nav-link.shop-buy-airpods(href='/shop/goto/gifts') Buy > 
                    img.airpods(src='https://cdn.discordapp.com/attachments/828495924354482208/916912757717221426/image_2021-12-04_224235-removebg-preview.png')
        .container
            h1.display-7.fifth.fw-bold MacBook Pro
            p.lead.fifth Supercharged for pros.
            .jumbotron.text-center.text-dark.middle-align-text.bg-transparent
                nav.nav
                    a.nav-link.shop-learnmore-macbook(href='/shop/goto/gifts') Learn More > 
                    a.nav-link.shop-buy-macbook(href='/shop/goto/gifts') Buy > 
                    img.macbook(src='https://cdn.discordapp.com/attachments/828495924354482208/916914028398391326/image_2021-12-04_224736-removebg-preview.png')
        .container
            h1.display-7.sixth.fw-bold HomePod mini
            p.lead.sixth 
            .jumbotron.text-center.text-dark.middle-align-text.bg-transparent
                nav.nav
                    a.nav-link.shop-learnmore-homepod(href='/shop/goto/gifts') Learn More > 
                    a.nav-link.shop-buy-homepod(href='/shop/goto/gifts') Buy > 
                    img.homepod(src='https://cdn.discordapp.com/attachments/828495924354482208/916924980065873942/unknown.png')
        .container
            .jumbotron.text-center.text-dark.middle-align-text.bg-transparent
                nav.nav
                    img.watchlogo(src='https://cdn.discordapp.com/attachments/828495924354482208/916926770505216010/unknown.png')
                    p.lead.seventh Introducing our largest display yet.
                    a.nav-link.shop-learnmore-watch(href='/shop/goto/gifts') Learn More > 
                    a.nav-link.shop-buy-watch(href='/shop/goto/gifts') Buy > 
                    img.watch(src='https://cdn.discordapp.com/attachments/828495924354482208/916925709161758721/unknown.png')
        include ./includes/footer.pug
